In [1]:
import os
list_of_files = {}
datas = []
for dirpath,dirnames,filenames in os.walk("F:/CST17020/python/ImageProcessingProject/my extra works/labels"):
    for filename in filenames:
        if filename.endswith('.txt'): 
            list_of_files[filename] = os.sep.join([dirpath, filename])
            file = open(os.path.join(dirpath, filename), 'r')
#             file.read()
            data = file.readlines()
            datas.append(data)
#             datas.append(data)
            file.close()
#             print(data)
print(datas)

# for (roots,dirname,files) in os.walk('F:/CST17020/python/myProject/labels')
# for f in files:
#     outfile = open(f,'r')
#     data = outfile.readlines()

[['Mr.Fazni M.F.M\n', 'UWU/CST/17/020\n', 'Science & Technology\n', 'Computer Science &\n', 'Technology'], ['Ms. Nabeela M.I\n', 'UWU/CST/17/038 \n', 'Science & Technology \n', 'Computer Science & \n', 'Technology'], ['Mr. Shihan N.S\n', 'UWU/SCT/17/O44\n', 'Science & Technology\n', 'Science & Technology'], ['Mr. Musharrirf M.M.M.\n', 'UWU/IIT/17/033\n', 'Science & Technology\n', 'Industrial Information\n', 'Technology'], ['Ms. Yasora R.M.V.\n', 'UWU/CST/17/068\n', 'Science & Technology\n', 'Computer Science &\n', 'Technology'], ['Ms. Kunapala N.\n', 'UWU/CST/17/O35\n', 'Science & Technology\n', 'Computer Science &\n', 'Technology'], ['Mr. Dalpathadu K.P.K.G.\n', 'UWU/CST/17/011\n', 'Science & Technology\n', 'Computer Science &.\n', 'Technology']]

In [2]:
from imutils import paths
import cv2

imagesPaths = list(paths.list_images('F:/CST17020/python/ImageProcessingProject/my extra works/id'))
print(imagesPaths)

['F:/CST17020/python/ImageProcessingProject/my extra works/id\\1.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\2.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\3.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\4.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\5.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\6.jpg', 'F:/CST17020/python/ImageProcessingProject/my extra works/id\\7.jpg']

In [3]:
import pandas as pd
df = pd.DataFrame(imagesPaths)

In [4]:
df

                                                   0
0  F:/CST17020/python/ImageProcessingProject/my e...
1  F:/CST17020/python/ImageProcessingProject/my e...
2  F:/CST17020/python/ImageProcessingProject/my e...
3  F:/CST17020/python/ImageProcessingProject/my e...
4  F:/CST17020/python/ImageProcessingProject/my e...
5  F:/CST17020/python/ImageProcessingProject/my e...
6  F:/CST17020/python/ImageProcessingProject/my e...

In [5]:
df2 = pd.DataFrame(datas)

In [6]:
df2

,0,1,2,3,4
0,Mr.Fazni M.F.M\n,UWU/CST/17/020\n,Science & Technology\n,Computer Science &\n,Technology
1,Ms. Nabeela M.I\n,UWU/CST/17/038 \n,Science & Technology \n,Computer Science & \n,Technology
2,Mr. Shihan N.S\n,UWU/SCT/17/O44\n,Science & Technology\n,Science & Technology,None
3,Mr. Musharrirf M.M.M.\n,UWU/IIT/17/033\n,Science & Technology\n,Industrial Information\n,Technology
4,Ms. Yasora R.M.V.\n,UWU/CST/17/068\n,Science & Technology\n,Computer Science &\n,Technology
5,Ms. Kunapala N.\n,UWU/CST/17/O35\n,Science & Technology\n,Computer Science &\n,Technology
6,Mr. Dalpathadu K.P.K.G.\n,UWU/CST/17/011\n,Science & Technology\n,Computer Science &.\n,Technology

In [7]:
df_all_rows = pd.concat([df, df2],axis=1)

In [8]:
df_all_rows

,0,0,1,2,3,4
0,F:/CST17020/python/ImageProcessingProject/my e...,Mr.Fazni M.F.M\n,UWU/CST/17/020\n,Science & Technology\n,Computer Science &\n,Technology
1,F:/CST17020/python/ImageProcessingProject/my e...,Ms. Nabeela M.I\n,UWU/CST/17/038 \n,Science & Technology \n,Computer Science & \n,Technology
2,F:/CST17020/python/ImageProcessingProject/my e...,Mr. Shihan N.S\n,UWU/SCT/17/O44\n,Science & Technology\n,Science & Technology,None
3,F:/CST17020/python/ImageProcessingProject/my e...,Mr. Musharrirf M.M.M.\n,UWU/IIT/17/033\n,Science & Technology\n,Industrial Information\n,Technology
4,F:/CST17020/python/ImageProcessingProject/my e...,Ms. Yasora R.M.V.\n,UWU/CST/17/068\n,Science & Technology\n,Computer Science &\n,Technology
5,F:/CST17020/python/ImageProcessingProject/my e...,Ms. Kunapala N.\n,UWU/CST/17/O35\n,Science & Technology\n,Computer Science &\n,Technology
6,F:/CST17020/python/ImageProcessingProject/my e...,Mr. Dalpathadu K.P.K.G.\n,UWU/CST/17/011\n,Science & Technology\n,Computer Science &.\n,Technology

In [10]:
arr = df_all_rows.to_numpy()

In [11]:
arr

array([['F:/CST17020/python/ImageProcessingProject/my extra works/id\\1.jpg',
        'Mr.Fazni M.F.M\n', 'UWU/CST/17/020\n', 'Science & Technology\n',
        'Computer Science &\n', 'Technology'],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\2.jpg',
        'Ms. Nabeela M.I\n', 'UWU/CST/17/038 \n',
        'Science & Technology \n', 'Computer Science & \n', 'Technology'],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\3.jpg',
        'Mr. Shihan N.S\n', 'UWU/SCT/17/O44\n', 'Science & Technology\n',
        'Science & Technology', None],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\4.jpg',
        'Mr. Musharrirf M.M.M.\n', 'UWU/IIT/17/033\n',
        'Science & Technology\n', 'Industrial Information\n',
        'Technology'],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\5.jpg',
        'Ms. Yasora R.M.V.\n', 'UWU/CST/17/068\n',
        'Science & Technology\n', 'Computer Science &\n', 'Technology'],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\6.jpg',
        'Ms. Kunapala N.\n', 'UWU/CST/17/O35\n',
        'Science & Technology\n', 'Computer Science &\n', 'Technology'],
       ['F:/CST17020/python/ImageProcessingProject/my extra works/id\\7.jpg',
        'Mr. Dalpathadu K.P.K.G.\n', 'UWU/CST/17/011\n',
        'Science & Technology\n', 'Computer Science &.\n', 'Technology']],
      dtype=object)

In [12]:
data=arr[:,0]

In [13]:
data

array(['F:/CST17020/python/ImageProcessingProject/my extra works/id\\1.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\2.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\3.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\4.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\5.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\6.jpg',
       'F:/CST17020/python/ImageProcessingProject/my extra works/id\\7.jpg'],
      dtype=object)

In [14]:
target=arr[:,1:]

In [16]:
target

array([['Mr.Fazni M.F.M\n', 'UWU/CST/17/020\n', 'Science & Technology\n',
        'Computer Science &\n', 'Technology'],
       ['Ms. Nabeela M.I\n', 'UWU/CST/17/038 \n',
        'Science & Technology \n', 'Computer Science & \n', 'Technology'],
       ['Mr. Shihan N.S\n', 'UWU/SCT/17/O44\n', 'Science & Technology\n',
        'Science & Technology', None],
       ['Mr. Musharrirf M.M.M.\n', 'UWU/IIT/17/033\n',
        'Science & Technology\n', 'Industrial Information\n',
        'Technology'],
       ['Ms. Yasora R.M.V.\n', 'UWU/CST/17/068\n',
        'Science & Technology\n', 'Computer Science &\n', 'Technology'],
       ['Ms. Kunapala N.\n', 'UWU/CST/17/O35\n',
        'Science & Technology\n', 'Computer Science &\n', 'Technology'],
       ['Mr. Dalpathadu K.P.K.G.\n', 'UWU/CST/17/011\n',
        'Science & Technology\n', 'Computer Science &.\n', 'Technology']],
      dtype=object)

In [17]:
from sklearn.model_selection import train_test_split

train_data,test_data,train_target,test_target=train_test_split(data,target,test_size=0.2)

In [18]:
print(train_data.shape)
print(test_data.shape)
print(train_target.shape)
print(test_target.shape)

(5,)
(2,)
(5, 5)
(2, 5)

In [21]:
# from sklearn.naive_bayes import naive_bayes 

# model=naive_bayes()

# model.fit(train_data,train_target)
# predicted_target=model.predict(test_data)